@import url('https://fonts.googleapis.com/css?family=Kurale|Open+Sans|Dosis');

* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

/* BODY */

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'Kurale';
}

/* HEADER */

header {}

/* NAVIGATION */

nav {
    position: fixed;
    z-index: 50;    
    width: 100%;
    height: 5em;
    background: rgba(0, 0, 0, .9);
}

/* Navigation list */

nav ul {
    list-style: none;
    text-align: center;
    padding-top: 1.5em;
}

/* Navigation item */

nav ul li {
    display: inline;
    margin-right: 1em;
}

/* Last navigation item */

nav ul li:last-child {
    margin-right: 0;
}

/* Navigation links */

nav ul li a,
nav ul li a:visited,
nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active,
nav ul li.active a {
    display: inline;
    font-size: 1em;
    text-decoration: inherit;
    color: rgba(255, 255, 255, .5);
    text-transform: capitalize;
}

/* Active item and hover on link */

nav ul li a:hover,
nav ul li.active a {
    color: white;
}


/*---------------------------------------------------------------------------
 * MAIN
 *----------------------------------------------------------------------------*/
main{
    background: url(http://source.unsplash.com/random?outdoor) no-repeat center center fixed;
    background-size: cover;    
}

section {
    display: block;
    width: 100%;
    position: relative;
}
section:hover {
    background-blend-mode: darken;
}


section article {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Kurale';
    
}

h1 {
    padding-top: 20vh;
    text-align: center;
    bottom: 50%;
    font-size: 3em;
    line-height: 70px;
    font-weight: 600;
}

section article h2 {
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 45px;
    font-weight: 600;
}

section article h3 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    color: #56b225;
}

section article p {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

section article .colum {
    display: inline-block;
    width: 39%;
    margin: 50px 5%;
}

/* HOME Section */
#home article {
    min-height:100vh;
    color: #fff;
    transition: background ease 10s;
}

#home article:hover {
    background: rgba(0,100,0,.7);
}

#home article h1 {
    padding-top: 45vh;
}

/* LATEST Section */
#ultimas article {
    min-height: 100vh;
    color: #fff;
    transition: background ease 10s;
}
#ultimas article:hover {
    background: rgba(0,50,175,.7);
}

/* AREAS Section */
#areas article {
    min-height: 100vh;
    color: #fff;    
    transition: background ease 10s;
}
#areas article:hover {
    background: rgba(200,0,0,.7);
}

/* AREAS Section */
#actividades article {
    min-height: 100vh;
    color: #fff;
    transition: background ease 10s;
}
#actividades article:hover {
    background: rgba(0,255,200,.7);
}

/* FESTAS Section */
#festas article {
    transition: background ease 10s;
    min-height: 100vh;
    color: #fff;
}
#festas article:hover {
    background: rgba(255,155,0,.7);
}

/* PROJECTOS Section */
#projectos article {
    min-height: 100vh;
    color: #fff;
    transition: background ease 10s;
}
#projectos article:hover {
    background: rgba(255,0,155,.6);
}

/* CONTATOS Section */
#contactos article {
    min-height: 100vh;
    color: #fff;
    transition: background ease 10s;
}
#contactos article:hover {
    background: rgba(155,255,0,.6);
}


/* SUMMARIES */
.summaries {
    width: 80%;
    height: auto;
    overflow: scroll;
    padding: 0 10%;
}

.summaries .summary {
    width: 49%;
    height: 6.8em;
    margin: .25% .25%;
    border: 1px solid #fff;
    float: left;
    background: rgba(0,0,0,.1);
    transition: background-color ease-in-out 1s;
}
.summaries .summary:nth-child(odd):hover {
    background-color: rgba(255,0,0,.5);
}
.summaries .summary:hover {
    background-color: rgba(255,255,0,.5);
}

.summaries figure figcaption {
    width: 100%;
    text-align: center;
    transition: font-size ease-in-out 1s;
    overflow: hidden;
}

.summaries figure figcaption:hover {
    font-size: 1.8em;
}

/*footer*/

footer {
    width: 100%;
    background: rgba(0, 0, 6, .9);
    padding: 20px 0;
    color: beige;
    text-align: center;
    font-weight: 100;
}

footer h2 {
    padding-left: 5%;
    margin: 0;
    line-height: 30px;
    font-weight: 600;
    font-size: 24px;
}