@import url('https://fonts.googleapis.com/css?family=Kurale|Open+Sans|Dosis');

* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

/* BODY */

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'Kurale';
}

/* HEADER */

header {}

/* NAVIGATION */

nav {
    position: fixed;
    z-index: 50;    
    width: 100%;
    height: 5em;
    background: rgba(0, 0, 0, .9);
    transition: background linear 1s;
}
nav:hover {
    background: white;
}
nav:hover a {
    color: black;
}

nav:hover a:hover,
nav:hover li.active a:hover{
    color: red;
}


/* Navigation list */

nav ul {
    list-style: none;
    text-align: center;
    padding-top: 1.5em;
}

/* Navigation item */

nav ul li {
    display: inline;
    margin-right: 1em;
}

/* Last navigation item */

nav ul li:last-child {
    margin-right: 0;
}

/* Navigation links */

nav ul li a,
nav ul li a:visited,
nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active,
nav ul li.active a {
    display: inline;
    font-size: 1em;
    text-decoration: inherit;
    color: rgba(255, 255, 255, .5);
    text-transform: capitalize;
}

/* Active item and hover on link */

nav ul li a:hover,
nav ul li.active a {
    color: white;
}


/*---------------------------------------------------------------------------
 * MAIN
 *----------------------------------------------------------------------------*/
main{
    background: url(http://source.unsplash.com/random?pen) no-repeat center center fixed;
    background-size: cover;    
}

section {
    display: block;
    width: 100%;
    position: relative;
}
section:hover {
    background-blend-mode: darken;
}


section article {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'Kurale';
    
}

h1 {
    padding-top: 20vh;
    text-align: center;
    bottom: 50%;
    font-size: 3em;
    line-height: 70px;
    font-weight: 600;
    text-transform: uppercase;
}

section article h2 {
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 45px;
    font-weight: 600;
}

section article h3 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    color: #56b225;
}

section article p {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

section article .colum {
    display: inline-block;
    width: 39%;
    margin: 50px 5%;
}

/* HOME Section */
#ahome article {
    min-height:100vh;
    color: #fff;
    transition: background ease 10s;
}

#ahome article:hover {
    background: rgba(0,100,0,.8);
}

#ahome article h1 {
    margin: 0 auto;
    padding-top: 45vh;
    max-height: 55vh;
    width: 100%;
    height: 100vh;
    transition: opacity ease-in-out 4s;
    opacity: 0;
}
#ahome article h1:hover {
    opacity: 1;
}

/* LATEST Section */
#aultimas article {
    min-height: 100vh;
    color: #fff;
    transition: background ease 10s;
}
#aultimas article:hover {
    background: rgba(0,50,175,.8);
}



/* AREAS Section */
#aareas article {
    min-height: 100vh;
    color: #fff;    
    transition: background ease 10s;
    
}
#aareas article:hover {
    background: rgba(200,0,0,.8);
}

/* AREAS Section */
#aatividades article {
    min-height: 100vh;
    color: #fff;
    transition: background ease 10s;
}
#aatividades article:hover {
    background: rgba(0,255,200,.8);
}

/* FESTAS Section */
#afestas article {
    transition: background ease 10s;
    min-height: 100vh;
    color: #fff;
}
#afestas article:hover {
    background: rgba(155,155,0,.8);
}

/* projetoS Section */
#aprojetos article {
    min-height: 100vh;
    color: #fff;
    transition: background ease 10s;
}
#aprojetos article:hover {
    background: rgba(255,0,155,.8);
}

/* CONTATOS Section */
#acontatos article {
    min-height: 100vh;
    color: #fff;
    transition: background ease 10s;
}
#acontatos article:hover {
    background: rgba(155,255,0,.8);
}


/* SUMMARIES */
.summaries {
    width: 60%;
    height: auto;
    overflow: scroll;
    padding: 0 20%;
}

.summaries .summary {
    width: 6.8em;
    height: 6.8em;
    margin: .25em .25em;
    border: .2em solid #fff;
    border-radius: 10%;
    float: left;
    background: rgba(0,0,0,.1);
    transition: background-color ease-in-out 1s;
}
.summaries .summary:nth-child(odd):hover {
    background-color: gainsboro;
}
.summaries .summary:hover {
    background-color: black;
}

.summaries figure figcaption {
    width: 100%;
    text-align: center;
    transition: font-size ease-in-out 1s;
    overflow: hidden;
}

.summaries figure figcaption:hover {
    font-size: 1.8em;
}

/*footer*/

footer {
    width: 100%;
    background: rgba(0, 0, 6, .9);
    padding: 20px 0;
    color: beige;
    text-align: center;
    font-weight: 100;
}

footer h2 {
    padding-left: 5%;
    margin: 0;
    line-height: 30px;
    font-weight: 600;
    font-size: 24px;
}