@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Lobster+Two');

* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

/* BODY */

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'Butterfly Kids';
    word-spacing: .5em;
}

/* HEADER */

header {}

/* NAVIGATION */

nav {
    width: 100%;
    height: 10vh;
    background: rgba(255,255,255,.9);
    transition: background linear 1s;
}

nav.top {
    position: fixed;
    z-index: 50;    
}
nav:hover {
    background: white;
}
nav:hover a {
    color: black;
}

nav:hover a:hover,
nav:hover li.active a:hover{
    color: red;
}


/* Navigation list */
nav ul {
    list-style: none;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
}

/* Navigation item */

nav ul li {
    display: inline;
    margin-right: 2em;
}

/* Last navigation item */

nav ul li:last-child {
    margin-right: 0;
}

/* Navigation links */

nav ul li a,
nav ul li a:visited,
nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active,
nav ul li.active a {
    display: inline;
    font-size: 2em;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

/* Active item and hover on link */

nav ul li a:hover,
nav ul li.active a {
    color: hotpink;
}


/*---------------------------------------------------------------------------
 * MAIN
 *----------------------------------------------------------------------------*/
main{
    background: url(http://source.unsplash.com/random?flower) no-repeat center center fixed;
    background-size: cover;    
}

section {
    display: block;
    width: 100%;
    position: relative;
}
section:hover {
    background-blend-mode: darken;
}


section article {
    width: 100%;
    min-width: 300px;
    min-height:91vh;
    margin: 0 auto;
    padding-top: 10vh;
    font-family: 'Butterfly Kids';
}

h1 {
    padding-top: 20vh;
    text-align: center;
    bottom: 50%;
    font-size: 3em;
    line-height: 70px;
    font-weight: 600;
}

section article h2 {
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 45px;
    font-weight: 600;
}

section article h3 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 60px;
    font-weight: 600;
    color: #56b225;
}

section article p {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

section article .colum {
    display: inline-block;
    width: 39%;
    margin: 50px 5%;
}

/* HOME Section */
#astart article {
    min-height:95vh;
    color: #fff;
    background: rgba(200,0,100,.3);
    transition: background ease 5s;
}

#astart article:hover {
    background: rgba(200,0,100,.9);
}

#astart article h1 {
    margin: 0 auto;
    padding-top: 45vh;
    max-height: 55vh;
    width: 100%;
    height: 100vh;
    transition: opacity ease-in-out 1s;
    opacity: 0;
}
#astart article h1:hover {
    opacity: 1;
}

/* LATEST Section */
#aneues article {
    color: #fff;
    background: rgba(200,0,200,.3);
    transition: background ease 5s;
}
#aneues article:hover {
    background: rgba(200,0,200,.9);
}



/* AREAS Section */
#adiy article {
    color: #fff;    
    background: rgba(150,0,255,.3);
    transition: background ease 5s;
    
}
#adiy article:hover {
    background: rgba(150,0,255,.9);
}

/* AREAS Section */
#aberlin article {
    color: #fff;
    background: rgba(0,0,250,.3);
    transition: background ease 5s;
}
#aberlin article:hover {
    background: rgba(0,0,250,.9);
}

.wcom-default {
    letter-spacing: .1em;
    margin: 0 auto;
}

/* FESTAS Section */
#agalerie article {
    transition: background ease 5s;
    color: #fff;
    background: rgba(0, 100,200,.3);
    transition: background ease 5s;
}
#agalerie article:hover {
    background: rgba(0, 100,200,.9);
}

/* projetoS Section */
#akontakt article {
    color: #fff;
    background: rgba(0, 150,200,.3);
    transition: background ease 5s;
}
#akontakt article:hover {
    background: rgba(0, 150,200,.9);
}

/* CONTATOS Section */
#aueber-mich article {
    color: #fff;
    background: rgba(0, 250,255,.3);
    transition: background ease 5s;
}
#aueber-mich article:hover {
    background: rgba(0, 250,255,.9);
}


/* SUMMARIES */
.summaries {
    width: 60%;
    height: auto;
    overflow: scroll;
    padding: 10% 10%;
}

.summaries .summary {
    width: 300px;
    height: 250px;
    margin: 1em;
    border-radius: 5px;
    float: left;
    background: rgba(0,0,0,.1);
    transition: transform ease-in-out 1s;
    position: relative;
    box-shadow: 0px 0px 10px 2px white;
}
.summaries .summary:hover {
    transform: scale(1.05);
}

.summaries figure figcaption {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    font-family: 'Lobster Two';
    text-align: center;
    letter-spacing: 0;
    font-size: 1.7em;
    transition: font-size ease-in-out 1s;
}


/*footer*/

footer {
    width: 100%;
    height: 10vh;
    text-align: center;
    font-weight: 100;
    font-weight: bold;
    font-size: 1.25em;
}

footer div {
    float: left;
    width: 50%;
}

footer nav {
    float: right;
    width: 50%;
    color: black;
}

footer p {
    line-height: 10vh;
}

